<%

Twitter.search(@card.word, :count => 3, :result_type => "recent").results.map do |status|
  @x = "#{status.text}"
end

one_word = Twitter.search(@card.word, :lang => "es", :count => 3).results.first.text
two_word = Twitter.search(@card.word, :lang => "es", :count => 3).results.second.text
three_word = Twitter.search(@card.word, :lang => "es", :count => 3).results.last.text


%>




<p id="notice"><%= notice %></p>

<p>
  <b>Phrase:</b>
  <%= @card.phrase %>
</p>

<p>
  <b>Word:</b>
  <%= @card.word %>
</p>

<p>
  <b>Pos:</b>
  <%= @card.pos %>
</p>

<p>
  <b>Translation:</b>
  <%= @card.translation %>
</p>

<ul>
  <li><%= one_word.to_s %></li>
  <li><%= two_word %></li>
  <li><%= three_word %></li>
</ul>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
